:root {
	--color-primary-1: #7a56c3;
	--color-primary-2: #f3eefc;
	--color-primary-3: #b09ce0;
	--color-primary-hover-1: #8c6bd4;
	--color-success-1: #20a53a;
	--color-success-hover-1: #18802a;
	--color-warning-1: #faad14;
	--color-error-1: #ff4d4f;
	--color-bg-1: #fff;
	--color-bg-2: #f0f2f5;
	--color-bg-3: linear-gradient(135deg, #f3eefc 0%, #f8f6fd 100%);
	--color-bg-4: #e5e7eb;
	--color-text-1: #333;
	--color-text-2: #666;
	--color-text-3: #999;
	--color-text-4: #5b6b79;
	--color-text-5: #7a56c3;
	--color-border-1: #e5e7eb;
	--color-border-2: #d3d4d3;
	--color-menu-1: #374151;
	--color-menu-active-1: rgba(122, 86, 195, 0.1);
	--color-menu-active-2: var(--color-primary-1);
	--color-card-text-1: #1d2630;
	--color-radio-1: #e8e8e8;
	--color-radio-2: #ffffff;
	--color-button-text-1: #ffffff;
	--color-table-th-1: rgba(250, 250, 252, 1);
	--color-table-td-1: #ffffff;
	--color-command: #101010;
}

:root[theme-mode='dark'] {
	--color-primary-1: #9575cd;
	--color-primary-2: #2a1f3d;
	--color-primary-3: #b09ce0;
	--color-primary-hover-1: #7a56c3;
	--color-success-1: #4caf50;
	--color-success-hover-1: #20a53a;
	--color-warning-1: #d89614;
	--color-error-1: #a61d24;
	--color-bg-1: #141414;
	--color-bg-2: #000000;
	--color-bg-3: #1f1f1f;
	--color-bg-4: #303030;
	--color-text-1: #fff;
	--color-text-2: rgba(255, 255, 255, 0.65);
	--color-text-3: rgba(255, 255, 255, 0.45);
	--color-text-4: #8b949e;
	--color-text-5: #ffffff;
	--color-border-1: #303030;
	--color-border-2: #303030;
	--color-menu-1: #d1d5db;
	--color-menu-active-1: var(--color-primary-1);
	--color-menu-active-2: var(--color-text-1);
	--color-card-text-1: #fff;
	--color-radio-1: #303030;
	--color-radio-2: #5e5e5e;
	--color-button-text-1: #ffffff;
	--color-table-th-1: #2c2c2c;
	--color-table-td-1: #242424;
	--color-command: #101010;
}
